@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */

// theme colors
$heading-color: #444;
$text-color: #999;
$primary-color: #8d69f1;
$highlight-color: #d13267;
$bg-color: #f4f4f4;
$title-color:#444;

// color palette
//maps()   
$colors: (
  "primary": $primary-color,
  "text-color":$text-color,
  "hightlight":$highlight-color,
  "blue": #1919e6,
  "error": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #808080,
  "black": black,
  "white": white,
);